<section class="content">
    <div class="content-block col-md-12 col-sm-12">
        <div class="ef-product col-md-12 col-sm-12">
        <div class="block-header" *ngFor="let breadscrum of breadscrums[defaultView]">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active" [componentLink]="'/booking-management/booking-setup'">
            </app-breadcrumb>
        </div>
    
    </div>
    </div>
</section>