.mat-header-cell {
    font-weight: 800 !important;
    display:flex;
   justify-content:center;
}

.mat-cell{
    display:flex;
    justify-content: center;
}

.example-form-field {
    width: 200px;
  }