<mat-card-content>
  <section>
    <form class="grid-form" [formGroup]="bookingForm" >
      <div>
        <!-- <div class="p-3 mt-2 mb-4 " style="
        border-radius: 12px !important;
        border: 1px solid rgba(255, 0, 0, 0.3);
        height: auto;"> -->
        <div>
          <div><label class="label_info"><h4>User Information</h4></label></div>
        <div class="row pt-3 ">
            <div class="col-lg-4 col-md-6 col-sm-12 " >
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Name of User</mat-label>
                    <input class="form-control" matInput type="text" placeholder="Enter Name" [formControl]="bookingForm.controls['userName']" [readonly]="true">
                </mat-form-field>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 " >
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Contact Number of the User</mat-label>
                <input matInput type="number" placeholder="Enter Contact number" formControlName="userNumber">
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 " >
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Select Department</mat-label>
              <mat-select formControlName="department">
                  <mat-option *ngFor="let dept of department" [value]="dept.value">
                      {{dept.label}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
        </div>
        </div>
        </div>
        <label class="label_info"><h4>Traveler Information</h4></label>
        <div class="row pt-4">
            <div class="col-lg-4 col-md-6 col-sm-12 " >
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Booking For</mat-label>
                    <mat-select formControlName="bookingFor" (selectionChange)="onSelectBookingPerson()">
                      <mat-option *ngFor="let bp of bookingPerson" [value]="bp.value">
                          {{bp.label}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
           
          <div class="col-lg-4 col-md-6 col-sm-12 " *ngIf="isEmployee">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Select Department</mat-label>
              <mat-select formControlName="riderDepaetment">
                  <mat-option *ngFor="let dept of department" [value]="dept.value">
                      {{dept.label}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 " *ngIf="isEmployee">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Name of Employee</mat-label>
            <input matInput [(ngModel)]="searchTerm" 
            
             (focus)="filteredItems.length > 0 ? showDropdown = true : showDropdown = false" 
             (input)="filterItems($event)" 
             placeholder="Type to search" 
             [ngModelOptions]="{standalone: true}">
              <!-- Filtered List -->
     
        </mat-form-field>
        <div class="d-flex justify-content-center" *ngIf="filteredItems.length > 0 && showDropdown">
          <ul class="list-group">
            <li *ngFor="let item of filteredItems" (click)="selectItem(item)" class="list-group-item">
              {{ item }}
            </li>
          </ul>
         </div>
      
        <!-- No Results Message -->
        <div *ngIf="filteredItems.length === 0 && searchTerm.length > 0 && showDropdown">
          <p>No matching items found</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 " *ngIf="!isEmployee">
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Name of Guest</mat-label>
            <input matInput type="text" placeholder="Enter Name" [formControl]="bookingForm.controls['riderName']">
        </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 " >
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Contact Number</mat-label>
        <input matInput type="number" placeholder="Enter Contact number" formControlName="riderNumber">
    </mat-form-field>
  </div>
        </div>
        <label class="label_info"><h4>Travel Information</h4></label>
        <div class="row pt-3 pb-3">
          <div class="col-12 pb-3">
              <div class="example-full-width" appearance="outline">
                <span class="lebel-style align-items-center"
                  >Booking Preference* : </span>&nbsp;&nbsp;
                <mat-radio-group
                  aria-label="Select an option"
                  class="mt-1"
                  [formControl]="bookingForm.controls['bookingPreference']"
                  (change)="onChangeBookingPreference()"
                >
                  <mat-radio-button value="once">Once</mat-radio-button>
                  <mat-radio-button value="daily">Daily</mat-radio-button>
                </mat-radio-group>
                <mat-hint
                *ngIf=" bookingForm.controls['bookingPreference'].hasError('contractMode') && bookingForm.controls['bookingPreference'].touched "
                class="text-danger font-14">You must include Booking Preference.</mat-hint>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 " >
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Car reporting date-time</mat-label>
              <input matInput [matDatetimepicker]="reportingDatePicker" placeholder="Reporting Date"
                  [formControl]="bookingForm.controls['reportingDate']" readonly
                  (click)="reportingDatePicker.open()" [min]="selectedDate" />
              
              <mat-datetimepicker-toggle matSuffix [for]="reportingDatePicker"></mat-datetimepicker-toggle>
              <mat-datetimepicker #reportingDatePicker type="datetime"></mat-datetimepicker>
              
              <mat-hint *ngIf="bookingForm.controls['reportingDate'].hasError('required') && bookingForm.controls['reportingDate'].touched"
                  class="text-danger font-14">You must include Reporting Date.</mat-hint>
            </mat-form-field>
            
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 " *ngIf="!isBookingDaily">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Car required till date-time</mat-label>
              <input matInput [matDatetimepicker]="requireddatetimePicker" placeholder="Required Date"
                  [formControl]="bookingForm.controls['requiredDate']" readonly
                  (click)="requireddatetimePicker.open()" [min]="minDate" />
              
              <mat-datetimepicker-toggle matSuffix [for]="requireddatetimePicker"></mat-datetimepicker-toggle>
              <mat-datetimepicker #requireddatetimePicker type="datetime"></mat-datetimepicker>
              
              <mat-hint *ngIf="bookingForm.controls['requiredDate'].hasError('required') && bookingForm.controls['requiredDate'].touched"
                  class="text-danger font-14">You must include Required Till Date.</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 " *ngIf="isBookingDaily">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Repeat booking till date</mat-label>
              <input matInput [matDatepicker]="repeatdatetimePicker" placeholder="Repeat Date"
                  [formControl]="bookingForm.controls['repeatDate']" readonly [min]="minDate"
                  [max]="maxDate"
                  (click)="repeatdatetimePicker.open()" />
              
              <mat-datepicker-toggle matSuffix [for]="repeatdatetimePicker"></mat-datepicker-toggle>
              <mat-datepicker #repeatdatetimePicker type="datetime"></mat-datepicker>
              
              <mat-hint *ngIf="bookingForm.controls['repeatDate'].hasError('required') && bookingForm.controls['repeatDate'].touched"
                  class="text-danger font-14">You must include Repeat Till Date.</mat-hint>
            </mat-form-field>
           
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 " *ngIf="ifhasSaturday">
            <div [style]="ifhasSunday?'position: relative; top:-13px;':''" >
              <mat-checkbox
                *ngIf="ifhasSaturday"
                [checked]="ifhasSaturday"
                (change)="onExcludeSaturday($event)"
                >Exclude Saturday</mat-checkbox
              >
              <mat-checkbox
                *ngIf="ifhasSunday"
                [checked]="ifhasSunday"
                (change)="onExcludeSunday($event)"
                >Exclude Sunday</mat-checkbox>
            </div>
           
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 ">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Car Type</mat-label>
              <mat-select 
              placeholder="Select"
              name="cartype"
              formControlName="carType"
              (selectionChange)="onSelectCar($event)">
              <mat-option value="" disabled>Select</mat-option>
                  <mat-option *ngFor="let car of carType" [value]="car.name">
                      {{car.name}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 " >
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Cost of the Car</mat-label>
                <input class="form-control" matInput type="text"
                placeholder="Enter Cost of Car"
                value="{{costOfCar}}"
                [readonly]="true">
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 ">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>No. of Persons Traveling</mat-label>
              <mat-select 
              placeholder="Select"
              name="noperson"
              formControlName="noPerson">
              <mat-option value="" disabled>Select</mat-option>
                  <mat-option *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]"
                  [value]="num"
                  >{{num}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 ">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Location Type</mat-label>
              <mat-select 
              placeholder="Select"
              name="locationtype"
              formControlName="locationType">
              <mat-option value="" disabled>Select</mat-option>
                  <mat-option *ngFor="let tl of travelLocation"
                  [value]="tl.value"
                  >{{tl.label}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 " >
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Destination</mat-label>
                <input class="form-control" matInput type="text" placeholder="Enter Destination" [formControl]="bookingForm.controls['destination']">
            </mat-form-field>
          </div>
          <div class="col-12 pb-3">
            <div class="example-full-width" appearance="outline">
              <span class="lebel-style  align-items-center"
                >No. of Cars required : </span> &nbsp;&nbsp;
               
                  <button
                    (click)="decrement()"
                    class="counter-button"
                    >-</button
                  >
                  <input
                    type="number"
                    value="{{counterValue}}"
                    readonly
                    class="counter-input"
                  >
                  <button
                    (click)="increment()"
                    class="counter-button"
                    >+</button
                  >
             
            </div>
          </div>
          <div class="col-12 " *ngIf="counterValue > 1">
            <div class="example-full-width" appearance="outline">
              <span class="lebel-style align-items-center"
                >Reporting Location: </span>&nbsp;&nbsp;
              <mat-radio-group
                aria-label="Select an option"
                class="mt-1"
                [formControl]="bookingForm.controls['reportingLocation']"
                (change)="onChangeReporting()"
              >
                <mat-radio-button value="same">Same</mat-radio-button>
                <mat-radio-button value="different">Different</mat-radio-button>
              </mat-radio-group>
            </div>
        </div>
        </div>
        <div formArrayName="carDetails" class="pb-3">
          <div
            *ngFor="
                    let cd of carDetails.controls;
                    let carDetailsIndex = index
                  "
          >
            <div
              [formGroupName]="carDetailsIndex"
              class="p-3 mt-2 mb-4 pb-0 pt-4 detailCard"
            >
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12 " >
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Address of Reporting</mat-label>
                    <input class="form-control" matInput type="text"  
                    placeholder="Enter Address of Reporting"
                    formControlName="addReporting">
                </mat-form-field>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 " >
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Address of Release</mat-label>
                    <input class="form-control" matInput type="text"  
                    placeholder="Enter Address of Release"
                    formControlName="addRelease">
                </mat-form-field>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 " >
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Car release date-time</mat-label>
                  <input matInput [matDatetimepicker]="releasedDatePicker" placeholder="Release Date"
                      formControlName="releasedatetime" readonly
                      (click)="releasedDatePicker.open()" [min]="selectedDate" />
                  
                  <mat-datetimepicker-toggle matSuffix [for]="releasedDatePicker"></mat-datetimepicker-toggle>
                  <mat-datetimepicker #releasedDatePicker type="datetime"></mat-datetimepicker>
                  
                </mat-form-field>
                
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 " >
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Contact Name</mat-label>
                    <input class="form-control" matInput type="text"
                    placeholder="Enter Contact number"
                    formControlName="contactName">
                </mat-form-field>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 " >
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Contact Number</mat-label>
                    <input class="form-control" matInput 
                    type="number"
                    placeholder="Enter Contact number"
                    formControlName="contactNumber">
                </mat-form-field>
              </div>
            </div>
              
            </div>
          </div>
          <!-- <div  style="display: flex;justify-content: flex-end;">
            <ion-button type="button" title="Add Another Car" mat-mini-fab class="mat_minifab_button mb-2"
                (click)="addCarDetails()">
                + Add Another car Details
            </ion-button>
          </div> -->
        </div>
       <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 ">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Cost Center</mat-label>
            <mat-select 
            placeholder="Select"
            name="costCenter"
            formControlName="costCenter">
            <mat-option value="" disabled>Select</mat-option>
                <mat-option 
                >
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 ">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Event Code</mat-label>
            <mat-select 
            placeholder="Select"
            name="eventCode"
            formControlName="eventCode">
            <mat-option value="" disabled>Select</mat-option>
                <mat-option 
                >
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 " >
          <mat-form-field appearance="outline" class="example-full-width" >
              <mat-label>Purpose</mat-label>
              <textarea class="form-control" matInput 
              placeholder="Enter Purpose"
              formControlName="purpose"></textarea>
          </mat-form-field>
        </div>
       </div>
    </div>
    </form>
  </section>
</mat-card-content>
