<mat-card-content>
  <section>
    <form class="grid-form" [formGroup]="bookingForm" >
      <div>
        <!-- <div class="p-3 mt-2 mb-4 " style="
        border-radius: 12px !important;
        border: 1px solid rgba(255, 0, 0, 0.3);
        height: auto;"> -->
        <div>
          <div><label class="label_info"><h4>User Information</h4></label></div>
        <div class="row pt-3 ">
            <div formGroupName="raisedBy" class="col-lg-4 col-md-6 col-sm-12 " >
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Name of User</mat-label>
                    <input matInput class="form-control" type="text" placeholder="Enter Name" formControlName="employeeName" [readonly]="true">
                </mat-form-field>
            </div>
            <div formGroupName="raisedBy" class="col-lg-4 col-md-6 col-sm-12 " >
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Contact Number of the User</mat-label>
                <input matInput type="number" placeholder="Enter Contact number" formControlName="employeeContactNo" [readonly]="true">
            </mat-form-field>
          </div>
          <div formGroupName="raisedBy" class="col-lg-4 col-md-6 col-sm-12 " >
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Department</mat-label>
              <input matInput type="text" placeholder="Enter Department" formControlName="employeeDept" [readonly]="true">
              <!-- <mat-select formControlName="employee_dept">
                  <mat-option *ngFor="let dept of department" [value]="dept.value">
                      {{dept.label}}
                  </mat-option>
              </mat-select> -->
          </mat-form-field>
        </div>
        </div>
        </div>
        <label class="label_info" *ngIf="isOnbehalf"><h4>Traveller Information</h4></label>
        <div class="row pt-4" *ngIf="isOnbehalf">
            <div class="col-lg-4 col-md-6 col-sm-12 " formGroupName="raisedFor">
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Booking For</mat-label>
                    <mat-select formControlName="onbehalfType" (selectionChange)="onSelectBookingPerson()">
                      <mat-option *ngFor="let bp of bookingPerson" [value]="bp.value">
                          {{bp.label}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
           
          <div class="col-lg-4 col-md-6 col-sm-12 "  formGroupName="raisedFor" *ngIf="isEmployee">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Select Department</mat-label>
              <mat-select formControlName="onbehalfDepartmentCode" (selectionChange)="onSelectDepartment()">
                  <mat-option *ngFor="let dept of departmentList" [value]="dept.departmentCode">
                      {{dept.departmentDescription}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 " formGroupName="raisedFor" *ngIf="isEmployee">
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Name of Traveller</mat-label>
            <!-- <input matInput [(ngModel)]="searchTerm" 
            
             (focus)="filteredItems.length > 0 ? showDropdown = true : showDropdown = false" 
             (input)="filterItems($event)" 
             placeholder="Type to search" 
             [disabled]="this.mode == 'view'"
             [ngModelOptions]="{standalone: true}"> -->

              <!-- Filtered List -->
              <!-- <input class="form-control" matInput type="text" placeholder="Enter Name" formControlName="onbehalfName"> -->
              <div >
                <input matInput type="text" placeholder="Enter Name"
                [readonly]="bookingFormValue?.bookingType == 'ON_BEHALF'"
                 formControlName="onbehalfName">
              </div>
              <button mat-icon-button matSuffix aria-label="Search"
              [disabled]="bookingFormValue?.bookingType == 'ON_BEHALF'" (click)="searchEmployee()">
                <mat-icon>search</mat-icon>
              </button>
        </mat-form-field>
       
        <div class="d-flex justify-content-center dropdown-container" *ngIf="filteredItems.length > 0 ">
          <ul class="list-group">
            <li *ngFor="let item of filteredItems" (click)="selectItem(item)" class="list-group-item">
              {{ item.firstName }} {{item.lastName}} - {{item.emailId}}
            </li>
          </ul>
         </div>
      
        <!-- No Results Message -->
        <!-- <div *ngIf="filteredItems.length === 0">
          <p>No matching items found</p>
        </div> -->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 " formGroupName="raisedFor" *ngIf="!isEmployee">
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Name of Traveller</mat-label>
            <input matInput type="text" placeholder="Enter Name"
            [readonly]="bookingFormValue?.bookingType == 'ON_BEHALF'"
             formControlName="onbehalfName">
        </mat-form-field>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 " formGroupName="raisedFor">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Contact Number</mat-label>
        <input matInput type="number" placeholder="Enter Contact number"
        [readonly]="bookingFormValue?.bookingType == 'ON_BEHALF' || bookingForm.get('raisedFor.onbehalfType')?.value == 'INTERNAL_EMPLOYEE'"
         formControlName="onbehalfContactNo">
    </mat-form-field>
  </div>
        </div>
        <label class="label_info"><h4>Travel Information</h4></label>
        <div class="row pt-3 pb-3" >
          <div class="col-12 pb-3" formGroupName="bookingReportDto">
              <div class="example-full-width" appearance="outline">
                <span class="lebel-style align-items-center"
                  >Booking Preference* : </span>&nbsp;&nbsp;
                <mat-radio-group
                  aria-label="Select an option"
                  class="mt-1"
                  formControlName="bookingPreference"
                  (change)="onChangeBookingPreference()"
                >
                  <mat-radio-button value="ONCE">Once</mat-radio-button>
                  <mat-radio-button value="DAILY">Daily</mat-radio-button>
                  <mat-radio-button value="WEEKLY">Weekly</mat-radio-button>
                </mat-radio-group>
                <mat-hint
                *ngIf=" this.bookingForm.get('bookingReportDto.bookingPreference')?.hasError('contractMode') && this.bookingForm.get('bookingReportDto.bookingPreference')?.touched "
                class="text-danger font-14">You must include Booking Preference.</mat-hint>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 " >
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Car Reporting Date-Time</mat-label>
              <input matInput [matDatetimepicker]="reportingDatePicker" placeholder="Reporting Date"
                  [formControl]="this.bookingForm.get('bookingReportDto.carReportingDatetime')" readonly
                  (click)="reportingDatePicker.open()" [min]="selectedDate" />
              
              <mat-datetimepicker-toggle matSuffix [for]="reportingDatePicker"></mat-datetimepicker-toggle>
              <mat-datetimepicker #reportingDatePicker type="datetime"></mat-datetimepicker>
              
              <mat-hint *ngIf="this.bookingForm.get('bookingReportDto.carReportingDatetime')?.hasError('required') && this.bookingForm.get('bookingReportDto.carReportingDatetime')?.touched"
                  class="text-danger font-14">You must include Reporting Date.</mat-hint>
            </mat-form-field>
            
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 " formGroupName="bookingReportDto" *ngIf="!isBookingDaily && !isBookingWeekly">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Car Required Till Date-Time</mat-label>
              <input matInput [matDatetimepicker]="requireddatetimePicker" placeholder="Required Date"
                  formControlName="carRequiredTillDatetime" readonly
                  (click)="requireddatetimePicker.open()" [min]="minDate" />
              
              <mat-datetimepicker-toggle matSuffix [for]="requireddatetimePicker"></mat-datetimepicker-toggle>
              <mat-datetimepicker #requireddatetimePicker type="datetime"></mat-datetimepicker>
              
              <mat-hint *ngIf="this.bookingForm.get('bookingReportDto.carRequiredTillDatetime')?.hasError('required') && this.bookingForm.get('bookingReportDto.carRequiredTillDatetime')?.touched"
                  class="text-danger font-14">You must include Required Till Date.</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 " formGroupName="bookingReportDto" *ngIf="isBookingDaily || isBookingWeekly ">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Repeat Booking Till Date</mat-label>
              <input matInput [matDatepicker]="repeatdatetimePicker" placeholder="Repeat Date"
              formControlName="carRepeatTillDate" readonly [min]="minDate"
                  [max]="maxDate"
                  (click)="repeatdatetimePicker.open()" />
              
              <mat-datepicker-toggle matSuffix [for]="repeatdatetimePicker"></mat-datepicker-toggle>
              <mat-datepicker #repeatdatetimePicker type="datetime"></mat-datepicker>
              
              <mat-hint *ngIf="this.bookingForm.get('bookingReportDto.carRepeatTillDate')?.hasError('required') && this.bookingForm.get('bookingReportDto.carRepeatTillDate')?.touched"
                  class="text-danger font-14">You must include Repeat Till Date.</mat-hint>
            </mat-form-field>
           
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 " formGroupName="bookingReportDto" *ngIf="ifhasSaturday || ifhasSunday">
            <div  [style]="ifhasSunday?'position: relative; top:-13px;':''" >
              <mat-checkbox
                *ngIf="ifhasSaturday && !isBookingWeekly"
                formControlName="excludeSaturday"
                [disabled]="this.mode == 'view'"
                (change)="onExcludeSaturday($event)"
                >Exclude Saturday</mat-checkbox
              >
              <mat-checkbox
                *ngIf="ifhasSunday && !isBookingWeekly"
                formControlName="excludeSunday"
                [disabled]="this.mode == 'view'"
                (change)="onExcludeSunday($event)"
                >Exclude Sunday</mat-checkbox>
            </div>
           
          </div>
          <div formGroupName="bookingReportDto" class="col-lg-4 col-md-6 col-sm-12 " *ngIf="isBookingWeekly">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Days in a Week</mat-label>
            <mat-select formControlName="selectedDaysInaWeek"
            [multiple]="true">
                <mat-option *ngFor="let day of weekDays" [value]="day">
                    {{day}}
                </mat-option>
            </mat-select>
          </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 ">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Car Type</mat-label>
              <mat-select 
              placeholder="Select"
              name="cartype"
              formControlName="carTypeId"
              (selectionChange)="onSelectCar()">
              <mat-option value="" disabled>Select</mat-option>
                  <mat-option *ngFor="let car of carType" [value]="car.id">
                      {{car.carType}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-hint
            *ngIf="
              bookingForm.controls['carTypeId'].hasError('required') &&
              bookingForm.controls['carTypeId'].touched
            "
          class="text-danger font-14">
            Car Type Required
          </mat-hint>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 " >
            <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Cost of the Car</mat-label>
                <input class="form-control" matInput type="text"
                placeholder="Enter Cost of Car"
                value="{{ costOfCar }}"
                [disabled]="mode == 'view'"
                [readonly]="true">
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 ">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>No. of Persons Travelling</mat-label>
              <mat-select 
              placeholder="Select"
              name="noperson"
              formControlName="numPersonsTravelling">
              <mat-option value="" disabled>Select</mat-option>
                  <mat-option *ngFor="let num of [1,2,3,4,5,6,7,8,9,10]"
                  [value]="num"
                  >{{num}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 ">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Location Type</mat-label>
              <mat-select 
              placeholder="Select"
              name="locationtype"
              formControlName="locationType">
              <mat-option value="" disabled>Select</mat-option>
                  <mat-option *ngFor="let tl of travelLocation"
                  [value]="tl.value"
                  >{{tl.label}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
         
          <div class="col-lg-4 col-md-6 col-sm-12 ">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Cost Center</mat-label>
              <mat-select 
              placeholder="Select"
              name="costCenter"
              formControlName="costCenterCode" (selectionChange)="onSelectCoseCenter()">
              <mat-option value="" disabled>Select</mat-option>
                  <mat-option *ngFor="let cc of costCenterList"
                  [value]="cc.costCenterCode"
                  >
                  {{cc.costCenterDescription}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 ">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Event Code</mat-label>
              <mat-select 
              placeholder="Select"
              name="eventCode"
              formControlName="eventCode" (selectionChange)="onSelectEvent()">
              <mat-option value="" disabled>Select</mat-option>
                  <mat-option *ngFor="let ec of eventList" [value]="ec.eventCode"
                  >{{ec.eventDescription}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 " >
            <mat-form-field appearance="outline" class="example-full-width" >
                <mat-label>Purpose</mat-label>
                <textarea class="form-control" matInput 
                placeholder="Enter Purpose"
                formControlName="purpose"></textarea>
            </mat-form-field>
          </div>
          <div class="row" formArrayName="destination">
            <div  style="display: flex;justify-content:flex-start;">
              <span class="lebel-style align-items-center" style="margin-right: 10px;"
              >Destination : </span>
              <button type="button" title="Add" class="counter-button mb-2" [disabled]="mode == 'view'"
                  (click)="addDestination()">
                  + Add Destination
              </button>
            </div>
            <ng-container *ngFor="let destination of destination.controls; let i = index"  class="row destination-item" >
             <div class="col-lg-4 col-md-6 col-sm-12 ">
              <div  class="d-flex justify-content-end mb-1">
                <mat-label> <span *ngIf="i==0">&nbsp;</span></mat-label>
                <mat-label style="color: crimson;cursor: pointer;"  (click)="removeDestination(i)" *ngIf="mode != 'view'"> <span *ngIf="i!=0">  - Remove </span></mat-label>
              </div>
              <mat-form-field appearance="outline" class="example-full-width">
                <mat-label>Destination {{i + 1}}</mat-label>
                <!-- <div  class="d-flex justify-content-between">
                  <mat-label>Destination {{i + 1}}</mat-label>
                  <mat-label *ngIf="i!=0" (click)="removeDestination(i)">- Remove </mat-label>
                </div> -->
               
                <input #googleAutocomplete   id="googleAutocomplete-{{ i }}" class="form-control" matInput type="text" placeholder="Enter Destination" [formControlName]="i">
            </mat-form-field>
            <mat-hint *ngIf="
            destination.hasError('required') &&
            destination.touched
          "
            class="text-danger font-14">You must include Destination</mat-hint>
             </div>
            </ng-container>
            
          </div>
          <div class="col-12 pb-3">
            <div class="example-full-width" appearance="outline">
              <span class="lebel-style  align-items-center"
                >No. of Car Required : </span> &nbsp;&nbsp;
               
                  <button
                    (click)="decrement()"
                    class="counter-button"
                    [disabled]="this.mode == 'view'"
                    >-</button
                  >
                  <input
                    type="number"
                    formControlName="numCarsRequired"
                    readonly
                    class="counter-input"
                  >
                  <button
                    (click)="increment()"
                    class="counter-button"
                    [disabled]="this.mode == 'view'"
                    >+</button
                  >
             
            </div>
          </div>
          <div class="col-12 " *ngIf="(this.bookingForm.controls['numCarsRequired'].value ) > 1">
            <div class="example-full-width" appearance="outline">
              <span class="lebel-style align-items-center"
                >Reporting Location: </span>&nbsp;&nbsp;
              <mat-radio-group
                aria-label="Select an option"
                class="mt-1"
                [formControl]="bookingForm.controls['reportingLocation']"
                (change)="onChangeReporting()"
              >
                <mat-radio-button value="same">Same</mat-radio-button>
                <mat-radio-button value="different">Different</mat-radio-button>
              </mat-radio-group>
            </div>
        </div>
        </div>
        <div formArrayName="bookingLocationMap" class="pb-3">
          <div
            *ngFor="
                    let cd of bookingLocationMap.controls;
                    let carDetailsIndex = index
                  "
          >
            <div
              [formGroupName]="carDetailsIndex"
              class="p-3 mt-2 mb-4 pb-0 pt-4 detailCard"
            >
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12 " >
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Address of Reporting</mat-label>
                    <input #autocomplete id="autocomplete-{{ carDetailsIndex }}" class="form-control" matInput type="text"  
                    placeholder="Enter Address of Reporting"
                    formControlName="reportingAddress">
                </mat-form-field>
                <mat-hint  *ngIf="
                cd.get('reportingAddress')?.hasError('required') &&
                cd.get('reportingAddress')?.touched
              "
                class="text-danger font-14">You must include Reporting Address</mat-hint>
              </div>
              <!-- <div class="col-lg-4 col-md-6 col-sm-12 " >
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Address of Release</mat-label>
                    <input class="form-control" matInput type="text"  
                    placeholder="Enter Address of Release"
                    formControlName="releaseAddress">
                </mat-form-field>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 " >
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Car Release Date-Time</mat-label>
                  <input matInput [matDatetimepicker]="releasedDatePicker" placeholder="Release Date"
                      formControlName="carReleaseDatetime" readonly
                      (click)="releasedDatePicker.open()" [min]="selectedDate" />
                  
                  <mat-datetimepicker-toggle matSuffix [for]="releasedDatePicker"></mat-datetimepicker-toggle>
                  <mat-datetimepicker #releasedDatePicker type="datetime"></mat-datetimepicker>
                  
                </mat-form-field>
                
              </div> -->
              <div class="col-lg-4 col-md-6 col-sm-12 " >
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Contact Name</mat-label>
                    <input class="form-control" matInput type="text"
                    placeholder="Enter Contact number"
                    formControlName="contactName">
                </mat-form-field>
                <mat-hint
                *ngIf="
                  cd.get('contactName')?.hasError('required') &&
                  cd.get('contactName')?.touched
                "
              class="text-danger font-14">
                Contact Name is required.
              </mat-hint>
              <mat-hint
              *ngIf="
              cd.get('contactName')?.hasError('pattern') 
            "
              class="text-danger font-14">
              Contact Name is invalid.
              </mat-hint>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 " >
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Contact Number</mat-label>
                    <input class="form-control" matInput 
                    type="number"
                    placeholder="Enter Contact number"
                    formControlName="contactNumber">
                </mat-form-field>
                <mat-hint
                *ngIf="
                  cd.get('contactNumber')?.hasError('required') &&
                  cd.get('contactNumber')?.touched
                "
              class="text-danger font-14">
                Contact Number is required.
              </mat-hint>
              <mat-hint
              *ngIf="
              cd.get('contactNumber')?.hasError('pattern') 
            "
              class="text-danger font-14">
              Contact Number is invalid.
              </mat-hint>
              </div>
            </div>
              
            </div>
          </div>
          <!-- <div  style="display: flex;justify-content: flex-end;">
            <ion-button type="button" title="Add Another Car" mat-mini-fab class="mat_minifab_button mb-2"
                (click)="addCarDetails()">
                + Add Another car Details
            </ion-button>
          </div> -->
        </div>
       <div class="row">
      
       </div>
    </div>
    </form>
  </section>
</mat-card-content>
