<div class="row"> 
    <h4 class="page-title">{{active_item}}</h4>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="breadcrumb">
            <li>
                <h4 class="page-title">{{title}}</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
                <a [routerLink]="'/admin/dashboard/main'">
                    <!-- <i class="fas fa-home"></i>   -->
                    <i-feather name="home" class="breadcrumb-icon"></i-feather>
                </a>
            </li>
            <li class="breadcrumb-item" *ngFor="let item of items">
                <span [routerLink]="componentLink">{{item}}</span></li>
            <!-- <li class="breadcrumb-item active">{{active_item}}</li> -->
        </ul>
    </div>
    <div class="col-12">
        <hr>
    </div>
</div>
<div class="row">
    
</div>