.card{
    padding: 20px;
}
.card_label{
    font-size: 15px;
    color: #737171;
}
.card_span{
    font-size: 15px;
    font-weight: bold;
    color: black;
}
.secondary{
    border: 1px solid #dd0000;
    color: #dd0000;
}
.primary{
    background-color: #d00000;
    color: white;
    padding: 10px;
} 