.example-table-container {
    width: 100%;
  }
  
  .example-container {
    max-height: 380px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .table-action-button {
    /* color: #31569A; */
    font-weight: bold;
    text-decoration: underline;
  }
  .table-action-button:disabled {
    color: #7d7f83;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100%;
    color: #31569A;
    z-index: 100;
    position: relative;
  }