<section class="example-table-container mat-elevation-z8">
    <div class="example-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="dataSource" #outerSort="matSort"  multiTemplateDataRows class="mat-elevation-z8 detailTable" matSort>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
                    Booking Date
                </th>
                <td mat-cell *matCellDef="let element" width="20%"> {{convertToReadableDate(element.bookingTime)}} </td>
            </ng-container>
                <!-- Code Column -->
                <ng-container matColumnDef="reportingAddress">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by reportingAddress">
                        Pickup Location
                    </th>
                    <td mat-cell *matCellDef="let element" width="20%" class="address-container" [title]="element.pickUpLocation[0].reportingAddress"> {{element.pickUpLocation[0].reportingAddress | truncate:5}} </td>
                </ng-container>

            <!-- Type Column -->
            <ng-container matColumnDef="destination">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by destination">
                    Destination
                </th>
                <td mat-cell *matCellDef="let element" width="20%" class="address-container" [title]="element.destination[element.destination.length-1]"> {{element.destination[element.destination.length-1] | truncate:5}} </td>
            </ng-container>

               <!-- Booking Preference -->
               <ng-container matColumnDef="bookingPreference">
                <th mat-header-cell *matHeaderCellDef>
                    Booking Preference
                </th>
                <td mat-cell *matCellDef="let element" width="10%">
                    {{element.preference ? element.preference : "---"}}
                </td>
            </ng-container>

            <!-- Status -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>
                    Status
                </th>
                <td mat-cell *matCellDef="let element" width="10%">
                    {{element.bookingStatus ? element.bookingStatus : "---"}}
                </td>
            </ng-container>

            <!--Actions-->
            <ng-container matColumnDef="allotCar">
                <th mat-header-cell *matHeaderCellDef>
                    Allot Car
                </th>
                <td mat-cell *matCellDef="let element" width="20%">
                    <!-- <button type="button" mat-icon-button class="table-action-button" (click)="viewDetails(element)"
                        ><app-feather-icons icon="eye" [class]="'tbl-fav-eye'"></app-feather-icons></button>
                    <div class="vr"></div> -->
                    <!-- <button type="button" mat-icon-button class="table-action-button" (click)="viewDetails(element)">
                        <app-feather-icons icon="plus-square" [class]="'tbl-fav-eye'"></app-feather-icons>
                    </button> -->
                    <ng-container *ngIf="(element?.preference == 'ONCE'); else actionUnavailable">
                        <button type="button" mat-icon-button class="table-action-button" (click)="viewDetails(element.bookingId,null)">
                            <app-feather-icons icon="plus-square" [class]="'tbl-fav-eye'"></app-feather-icons>
                        </button>
                    </ng-container>
                    <ng-template #actionUnavailable>
                        <span style="padding-left: 10px;">---</span>
                    </ng-template>
                     <!-- [disabled]="element.state==='PUBLISHED'" -->
                </td>
            </ng-container>
            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button *ngIf="element.preference != 'ONCE'" mat-button (click)="toggleRow(element)">
                        <!-- {{ element.expanded ?  : 'View' }} -->
                        <app-feather-icons *ngIf="element.expanded" icon="chevron-up" [class]="'tbl-fav-upDown'"></app-feather-icons>
                        <app-feather-icons *ngIf="!element.expanded" icon="chevron-down" [class]="'tbl-fav-upDown'"></app-feather-icons>
                    </button>
                    <span *ngIf="element.preference == 'ONCE'" style="padding-left: 20px;">---</span>
                
                </td>
            </ng-container>
            <!-- <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                    <div class="example-element-detail" *ngIf="element?.innerData?.data.length"  [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="inner-table mat-elevation-z8" *ngIf="expandedElement">
                  <table #innerTables mat-table #innerSort="matSort" [dataSource]="element?.innerData" matSort>
                    <ng-container matColumnDef="innerColumn1">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by onBehalfOf">
                            Date
                        </th>
                        <td mat-cell *matCellDef="let innerelement" width="20%"> {{innerelement.date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="action" >
                        <th mat-header-cell *matHeaderCellDef>
                            Actions
                        </th>
                        <td mat-cell *matCellDef="let innerelement" width="20%">
                            <button type="button" mat-icon-button class="table-action-button" (click)="viewDetails(element)">
                                <app-feather-icons icon="plus-square" [class]="'tbl-fav-eye'"></app-feather-icons>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></tr>
                  </table>
                        </div>
                    </div>
                </td>
            </ng-container> -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                    <div class="example-element-detail" *ngIf="element === expandedElement">
                        <div class="inner-table mat-elevation-z8">

                            <table #innerTables mat-table [dataSource]="element.innerData">
                                <ng-container matColumnDef="innerColumn1">
                                    <th mat-header-cell *matHeaderCellDef>Reporting Date </th>
                                    <td mat-cell *matCellDef="let inner"> {{convertToReadableDate(inner.carReportingDatetime)}} </td>
                                </ng-container>
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                                    <td mat-cell *matCellDef="let inner" width="50%">
                                       
                                        <ng-container *ngIf="(inner.bookingStatus != 'CANCELLED'); else innerActionUnavailable">
                                            <button type="button" mat-icon-button class="table-action-button" (click)="viewDetails(element.bookingId,inner.id)">
                                                <app-feather-icons icon="plus-square" [class]="'tbl-fav-eye'"></app-feather-icons>
                                            </button>
                                        </ng-container>
                                        <ng-template #innerActionUnavailable>
                                            <span style="padding-left: 12px;">---</span>
                                        </ng-template>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></tr>
                            </table>
                        </div>
                    </div>
                </td>
            </ng-container>
            <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;" >
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"  class="example-detail-row"></tr>
        </table>
        <div *ngIf="isLoading" class="loader p-4 ">
            <mat-progress-spinner mode="indeterminate" [diameter]="40">
            </mat-progress-spinner>
        </div>
        <div *ngIf="showMessageIfTableIsBlank" class="loader p-4 ">
            <span class="fw-bold">No data found</span>
        </div>
    </div>
    <mat-card>
        <mat-paginator [hidden]="totalItems <= 4" [length]="totalItems" [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 20]" [pageIndex]="pageIndex" showFirstLastButtons (page)="onPageChange($event)">
        </mat-paginator>
    </mat-card>
</section>
<app-car-allocation [isOpen]="isOpen" (onCloseDrawer)="onCloseDrawer($event)" [data]="requestData"></app-car-allocation>