.example-table-container {
    width: 100%;
  }
  
  .example-container {
    max-height: 350px;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  
  .table-action-button {
    /* color: #31569A; */
    font-weight: bold;
    text-decoration: underline;
  }
  .table-action-button:disabled {
    color: #7d7f83;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 100%;
    color: #31569A;
    z-index: 100;
    position: relative;
  }
  .inner-table {
    width: 100%;
    border: 1px solid #ccc;
}
.expanded-row {
  background-color: #f9f9f9;
}

.hidden {
  display: none;
}

.inner-table {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}


tr.example-detail-row {
  height: 0;
}



