<section class="example-table-container mat-elevation-z8">
    <div class="example-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 detailTable">

            <!--  Code Column -->
            <ng-container matColumnDef="onBehalfOf">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by onBehalfOf">
                    Booking For
                </th>
                <td mat-cell *matCellDef="let element" width="20%"> {{element.riderName}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
                    Reporting Date
                </th>
                <td mat-cell *matCellDef="let element"> {{convertToReadableDate(element.reportingDate)}} </td>
            </ng-container>

            <!--  Type Column -->
            <ng-container matColumnDef="destination">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by destination">
                    Destination
                </th>
                <td mat-cell *matCellDef="let element" width="20%"> {{element.destination}} </td>
            </ng-container>

            <!--status-->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>
                    Status
                </th>
                <td mat-cell *matCellDef="let element" width="20%">
                    {{element.status?element.status:"---"}}
                </td>
            </ng-container>

            <!--Actions-->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                    Actions
                </th>
                <td mat-cell *matCellDef="let element" width="20%">
                    <!-- <button type="button" mat-icon-button class="table-action-button"
                        [disabled]="element.status==='Published'">Edit</button>
                    <div class="vr"></div> -->
                    <button type="button" mat-icon-button class="table-action-button" (click)="editAndView(element, 'view')">
                        <app-feather-icons icon="eye" [class]="'tbl-fav-eye'"></app-feather-icons>
                    </button>
                    <div class="vr"></div>
                    <button type="button" mat-icon-button class="table-action-button" (click)="editAndView(element, 'edit')">
                        <app-feather-icons icon="edit" [class]="'tbl-fav-edit'"></app-feather-icons>
                    </button> <!-- [disabled]="element.state==='PUBLISHED'" -->
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *ngIf="isLoading" class="loader p-4 ">
            <mat-progress-spinner mode="indeterminate" [diameter]="40">
            </mat-progress-spinner>
        </div>
        <div *ngIf="showMessageIfTableIsBlank" class="loader p-4 ">
            <span class="fw-bold">No data found</span>
        </div>
    </div>
    <mat-card>
        <mat-paginator [hidden]="totalItems <= 4" [length]="totalItems" [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 20]" [pageIndex]="pageIndex" showFirstLastButtons (page)="onPageChange($event)">
        </mat-paginator>
    </mat-card>
</section>