<section class="content">
    <div class="content-block">
        <div class="row pt-3">
            <div class="col-lg-12 col-md-12 col-sm-12 pb-3">
              <h3>Employee Details</h3>
              <div class="card card-statistic-2 mt-3">
                <div class="clearfix">
                  <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6  col-xs-6 pb-3">
                        <label class="card_label">First Name:</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pb-3">
                        <span class="card_span"><b>{{empDetails.firstName?empDetails.firstName:'--'}}</b></span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6  col-xs-6 pb-3">
                        <label class="card_label">Middle Name:</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pb-3">
                        <span class="card_span"><b>{{empDetails.middletName?empDetails.middletName:'--'}}</b></span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6  col-xs-6 pb-3">
                        <label class="card_label">Last Name:</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pb-3">
                        <span class="card_span"><b>{{empDetails.lastName?empDetails.lastName:'--'}}</b></span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6  col-xs-6 pb-3">
                        <label class="card_label">Contact Number:</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pb-3">
                        <span class="card_span"><b>{{empDetails.mobile?empDetails.mobile:'--'}}</b></span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6  col-xs-6 pb-3">
                        <label class="card_label">Email Id:</label>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pb-3">
                        <span class="card_span"><b>{{empDetails.emailId?empDetails.emailId:'--'}}</b></span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6  col-xs-6 pb-3">
                      <label class="card_label">Department:</label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pb-3">
                      <span class="card_span"><b>{{empDetails.department?empDetails.department:'--'}}</b></span>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6  col-xs-6 pb-3">
                      <label class="card_label">Employee Id:</label>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pb-3">
                      <span class="card_span"><b>{{empDetails.empId?empDetails.empId:'--'}}</b></span>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6  col-xs-6 pb-3">
                    <label class="card_label">Manager's Email Id:</label>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 pb-3">
                    <span class="card_span"><b>{{empDetails.managerEmail?empDetails.managerEmail:'--'}}</b></span>
                </div>
                  </div>
                </div>
               
              </div>
            </div>
            
             
          </div> 
        
    </div>
</section>