<div class="container-fluid ef-dnd-file-upload" appDnd (fileDropped)="onFileDropped($event)">

	<div class="error-section mb-4" *ngIf="error">
		<div class="cross-circle mb-3">
			<div class="cross-line v-line"></div>
			<div class="cross-line h-line"></div>
		</div>
		<div class="error-msg">
			<!-- <div>Whoops! We couldn’t upload your file.</div>
			<div>Please ensure your file is no larger than 20 MB.</div> -->
			<div>{{error}}</div>
		</div>
	</div>


	<input type="file" #fileDropRef id="fileDropRef" 
		(change)="fileBrowseHandler($event)" />
	<img height="30" width="30" src="../../../../../assets/images/banner/up-loading.png" />
	<div class="upload-info-txt">Click <span class="upld-clr">here</span> to upload file</div>
</div>
